body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f1f5fc; /* Light blue background */
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #FC6C85; /* Facebook blue */
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header-container .logo {
  width: 100px;
}

.header-container nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.header-container nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.header-container nav ul li a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.banner-slider {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.banner-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.banner-slide.active {
  opacity: 1;
}

.banner-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
}

.left-section {
  flex: 1;
}

.left-section p {
  font-style: italic;
  text-align: center;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.profile-picture img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-details {
  margin-left: 10px;
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-description {
  font-size: 14px;
  color: #888;
}

.right-section {
  flex: 1;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

form {
  margin-top: 20px;
}

input[type="text"],
input[type="email"],
select,
option {
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  border-radius: 5px;
  background-color: #FC6C85;
  width: 100%;
  color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #f75973;
}

.coupon-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 20px 0 20px;
}

.coupon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
}

.coupon-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.coupon-name {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.coupon-description {
  font-size: 14px;
  color: #888;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.claim-button {
  border-radius: 5px;
  background-color: #FC6C85;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.claim-button:hover {
  background-color: #FC6C85;
}

.feature-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px 20px 20px 20px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
}

.feature-icon img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.feature-name {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.feature-description {
  font-size: 14px;
  color: #888;
  text-align: center;
}

.custom-button {
  display: block;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #FC6C85;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #FC6C85;
}

.footer {
  padding: 40px;
  text-align: center;
  background-color: #FC6C85;
  color: #ffffff;
}

.footer img {
  width: 100px;
  margin-bottom: 20px;
}

.footer h6 {
  font-size: 14px;
}

/* Other media queries can be added if needed */
